body {
    margin: 0;
    font-family: Helvetica, serif;
}

button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    border: 1px solid #ebebeb;
    width: 100px;
    height: 100px;
    vertical-align: top;
    color: #999999;
    padding: 5px;
    font-size: 0.7em;
}

td .eventContainer {
    display: block;
    margin-top: 10px;
    width: 84px;
    overflow: hidden;
}

.eventContainer:hover {
    background-color: #c2e4fe;
}

.header {
    background-color: #f4f4f4;
    height: 100px;
    margin: 0;
    box-shadow: 3px 3px 3px #999;
}

.calc, #mng {
    margin: 0 auto;
    width: 707px;
}

.main{
    margin: 0 auto;
}

.main button#arr-left, .main button#arr-right {
    color: #000000;
}

.monthchooser {
    padding: 20px 0 20px 5px;
}

.monthchooser button {
    border-radius: 3px;
    border-width: 2px;
    color: darkgray;
    height: 22px;
    background-color: white;
    border-color: #f4f4f4;
}

.today {
    background-color: #ebebeb;
}

.date {
    display: inline-block;
    width: 150px;
    text-align: center;
}

#month, #year {
    font-size: 1.2em;
    padding: 0 3px 0 3px;
    font-weight: bold;
}

.mngbuttons {
    position: relative;
}


.mngbuttons .btn{
    border-radius: 3px;
    border-width: 2px;
    background-color: #006DCC;
    font-size: 14px;
    color: #ffffff;
    vertical-align: middle;
    line-height: 20px;
    font-weight: normal;
    margin-top: 50px;
}

.search{
    border-radius: 3px;
    border-width: 2px;
    vertical-align: middle;
    font-weight: normal;
    position: absolute;
    right: 3px;
    top: 50px;
    padding: 3px;
}

img {
    position: relative;
    bottom: 2px;
}

input[type=search] {
    width: 195px;
    position: relative;
    bottom: 10px;
}

#addEventForm{
    position: absolute;
    background: #fff;
    margin-top: 20px;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    width: 275px;
    padding: 20px;

    font-size: 12px;
    color: #3a3a3a;
    /*text-align: justify;*/
    box-shadow: 0 0 5px #999;
}

#addEventForm .arrow {
    width: 0;
    height: 0;
    display: block;

    border-width: 10px;
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    position: absolute;
    top: -20px;
}

#addEventForm input[type=text], #addEventForm label{
    width: 250px;
    margin: 5px;
}

#addEventForm .picked{
    color: #000000;
    background-color: #ffffff;
}

#addEventForm label{
    color: red;
    background-color: yellow;
}

#addEventForm button{
    margin: 5px;
}

#addEventForm img {
    position: absolute;
    right: 3px;
    top: 3px;
}

.event {
    background-color: #c2e4fe;
}

td:hover {
    color: black;
}

.controls{
    position: absolute;
    bottom: 20px;
    left: 25px;
    margin-right: 10px;
}

#upd-event img{
    position: absolute;
    top: 3px;
    right: 3px;
}


#upd-event input, #upd-event textarea, h3, #upd-event span{
    width: 258px;
    height: 27px;
    text-align: left;
    vertical-align: top;
    margin: 5px 10px;
}

#upd-event div .description{
    margin-top: 25px;
}

#upd-event .description {
    width: 257px;
    height: 116px;
}

.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #999;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    left: 22px;
    margin-left: -12px;
}
.arrow_box:before {
    border-color: rgba(153, 153, 153, 0);
    border-bottom-color: #999;
    border-width: 13px;
    left: 22px;
    margin-left: -13px;
}


.arrow_box_up{
    display: none;
    position: absolute;
    background-color: #F2F2F2;
    box-shadow: 0 0 6px #B2B2B2;
    padding: 10px 18px;
    width: 300px;
    height: 330px;
    background-color: #ffffff;
}

.arrow_box_up::before {
    background-color: #FFFFFF;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.arrow_box_up {
    float: left;
    margin: 5px 45px 5px 20px;
}

.arrow_box_up::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.partCspan, .eventCH, #addEventForm, .timeCspan {
    display: none;
}

.parts {
    font-size: 0.8em;
    color: #B2B2B2;
}

.eventTitleSpan {
    font-weight: bold;
}